<ng-container *ngIf="profile$ | async as profile; else loading">
  <mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        {{ profile.firstName[0] }}
      </div>
      <mat-card-title>{{ profile.firstName }} {{ profile.lastName }}</mat-card-title>
      <mat-card-subtitle>{{ profile.email }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <dl>
        <div>
          <dt>Role(s)</dt>
          <dd>
            <mat-chip-listbox>
              <mat-chip *ngFor="let role of profile.roles">{{ role }}</mat-chip>
            </mat-chip-listbox>
          </dd>
        </div>
        <div *ngIf="profile.phoneNumber">
          <dt>Phone number</dt>
          <dd>{{ profile.phoneNumber }}</dd>
        </div>
        <div *ngIf="profile.bio">
          <dt>Bio</dt>
          <dd>{{ profile.bio }}</dd>
        </div>
      </dl>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #loading>
  <div class="loading" fxLayout="row" fxLayoutAlign="center center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
