<section class="cars">
  <header>
    <h2>
      <ng-container *ngIf="location$ | async as location; else defaultHeading">
        Automobili u lokaciji: {{ location }}
      </ng-container>
      <ng-template #defaultHeading>Dostupni automobili</ng-template>
    </h2>
    <p *ngIf="location$ | async as location; else defaultSubtitle">
      Prikazani automobili u krugu od {{ searchRadius }} km od {{ location }}.
    </p>
    <ng-template #defaultSubtitle>
      <p>Pregledajte vozila od proverenih domaćina i rezervišite odmah.</p>
    </ng-template>
  </header>

  <div class="cars__grid" fxLayout="row wrap" fxLayoutGap="28px">
    <ng-container *ngIf="cars$ | async as cars; else loading">
      <mat-card
        *ngFor="let car of cars; trackBy: trackByCarId"
        fxFlex="100"
        fxFlex.gt-sm="calc(50% - 28px)"
        fxFlex.gt-md="calc(33% - 28px)"
        class="cars__card"
      >
        <div class="car-card__media">
          <img
            *ngIf="car.imageUrl; else placeholder"
            [src]="car.imageUrl"
            [alt]="car.make + ' ' + car.model"
            loading="lazy"
          />
          <ng-template #placeholder>
            <div class="image-placeholder">
              <mat-icon>directions_car_filled</mat-icon>
            </div>
          </ng-template>
          <span class="chip">{{ car.year }}</span>
        </div>
        <mat-card-content class="car-card__content">
          <div class="car-card__header">
            <h3>{{ car.make }} {{ car.model }}</h3>
            <span class="price">RSD {{ car.pricePerDay | number : '1.0-0' }}/dnevno</span>
          </div>
          <div class="car-card__location">
            <mat-icon class="location-icon">place</mat-icon>
            <span class="meta">{{ car.location }}</span>
            <mat-chip *ngIf="car.distance" class="distance-chip" selected>
              <mat-icon>near_me</mat-icon>
              {{ car.distance }}
            </mat-chip>
          </div>
          <p>{{ car.description || 'Opis trenutno nije dostupan.' }}</p>
        </mat-card-content>
        <mat-card-actions class="car-card__actions">
          <a mat-flat-button color="primary" [routerLink]="['/cars', car.id]"> Detalji vozila </a>
          <app-favorite-button [carId]="+car.id"></app-favorite-button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>

  <ng-template #loading>
    <div class="loading" fxLayout="row" fxLayoutAlign="center center">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-template>
</section>
